body {
    background-color: #1d3557; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #ffffffb4;
}

header {
    background: #264653;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.level-bar{
    height: 8px;
    border-radius: 5px;
    margin-top: 4px;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
}
.level-bar::after{
    content: '';
    display: block;
    height: 100%;
    border-radius: 5px;
}
.expert::after{
    width: 100%;
    background-color: #4caf50;
}
.advanced::after{
    width: 75%;
    background-color: #4caf50;
}
.intermediate::after{
    width: 50%;
    background-color: #4caf50;
}
.beginner::after{
    width: 25%;
    background-color: #4caf50;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.profile{
    background-color: #740f4f;
}

.profile-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #37c08e;
    color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100%;
    height: auto;
}

section {
    padding: 2rem;
    margin: 1rem 0;
}

h1, h2, h3 {
    color: #14adcf;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}